{% load url from future %}
{% load humanize %}


{% if deployment.photo %}
<div class="mdl-typography--title deployment-header" style="background-image: url('{{ MEDIA_URL }}{{ deployment.photo }}')">
	{{ deployment.client_name }}
</div>
{% else %}
<div class="mdl-typography--title deployment-header mdl-color--blue-900">
	{{ deployment.client_name }}
</div>
{% endif %}

{% if deployment.status.0 == 4 %}
<div class="mdl-typography--text-center" style="padding: 24px">Deployment has ended</div>
{% elif not deployment.hub %}
<div class="mdl-typography--text-center">No hub has been assigned</div>
{% elif not deployment.sensors %}
<div class="mdl-typography--text-center">No sensors have been assigned</div>
{% else %}

<div style="padding: 16px; color: #000">
	{% if deployment.hub %}
	<div class="device-item">
		<i class="material-icons">device_hub</i>
		<div class="mdl-list__item-primary-content {% if not sensor_deployment_details.connection_status.0 %}panel-danger{% else %}panel-default{% endif %}">
			<div>{{ deployment.hub.name }}</div>
			<div class="mdl-typography--caption-force-preferred-font-color-contrast">{{ deployment.hub.id }}</div>
		</div>
		<div style="flex: 1"></div>
		<div class="mdl-typography--caption-force-preferred-font-color-contrast">
			<span>
				{{ deployment.hub.connection_status.1 }}
				{% if deployment.hub.connection_status.2 %}
				for {{ deployment.hub.connection_status.2 }}
				{% endif %}
	        </span>
		</div>
	</div>
	{% endif %}

	{% for deployment_sensor in deployment.sensors.all %}
	{% with deployment_sensor.sensor as sensor %}
		{% if deployment_sensor.has_data %}
			<div class="device-item">
				<i class="material-icons">router</i>
				<div>{{ deployment_sensor.location|default:deployment_sensor.sensor.name }}
					{% for reading in deployment_sensor.latest_readings %}
						{% if not reading.channel.hidden %}
							<div class="mdl-typography--caption-force-preferred-font-color-contrast">
								{% if 'value' in reading %}
									{{ reading.channel.name }}: {{ reading.value|floatformat:2 }}{{ reading.channel.units }}
								{% else %}
									{{ reading.channel.name }}: No data
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div style="flex: 1"></div>
				<div class="mdl-typography--caption-force-preferred-font-color-contrast">
					<span>
						{% if deployment_sensor.latest_reading %}
							{{ deployment_sensor.latest_reading.time|naturaltime }}
						{% else %}
							No data
						{% endif %}

					</span>
				</div>
			</div>
		{% endif %}
	{% endwith %}
	{% endfor %}
</div>

{%endif%}