{% extends 'chariot/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Edit Sensor{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet">
        <form class="uniForm" method="post">
            {% csrf_token %}
            <input name="deployment" value="{{sensor.deployment.pk}}" type="hidden">
            <input name="sensor" value="{{sensor.sensor.id}}" type="hidden">

            <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding-top: 0">
                <label class="device-label">
                    Sensor
                </label>
                <div>
                    {{ sensor.sensor.name }}
                </div>
            </div>

            {{ form.non_field_errors }}

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_location" class="mdl-textfield__label ">
                    Room
                </label>
                {% crispy_field form.location 'class' 'mdl-textfield__input'%}
                <span class="mdl-textfield__error">{{ form.location.errors }}</span>
            </div>

            <div style="display:flex; text-align: right">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_room_width" class="mdl-textfield__label ">
                    Room Width
                </label>
                <div style="display: flex">
                    {% crispy_field form.room_width 'class' 'mdl-textfield__input' 'min' '0' 'style' 'text-align:right'%}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;">m</div>
                </div>
                <span class="mdl-textfield__error">{{ form.room_width.errors }}</span>
            </div>

                <div style="width: 64px">&nbsp</div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_room_length" class="mdl-textfield__label ">
                    Room Length
                </label>
                <div style="display: flex">
                    {% crispy_field form.room_length 'class' 'mdl-textfield__input' 'min' '0' 'style' 'text-align:right'%}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;">m</div>
                </div>
                <span class="mdl-textfield__error">{{ form.room_length.errors }}</span>
            </div>

                <div style="width: 64px">&nbsp</div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_room_height" class="mdl-textfield__label ">
                    Room Height
                </label>
                <div style="display: flex">
                    {% crispy_field form.room_height 'class' 'mdl-textfield__input' 'min' '0' 'style' 'text-align:right'%}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;">m</div>
                </div>
                <span class="mdl-textfield__error">{{ form.room_height.errors }}</span>
            </div>
            </div>

            {% for reading in sensor.latest_readings %}
                {% if reading.channel == sensor.sensor.cost_channel %}
                    <div style="display:flex">
                    <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"  style="padding-top: 0">
                        <label class="device-label" >
                            {{ reading.channel.name }}
                        </label>
                        <div>
                            {% if 'value' in reading %}
                                {{ reading.value|floatformat }}{{ reading.channel.units }}
                            {% else %}
                                No data
                            {% endif %}
                        </div>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="id_cost" class="mdl-textfield__label ">
                            {{sensor.sensor.cost_channel.name}} Cost
                        </label>
                        <div style="display: flex">
                            {% crispy_field form.cost 'class' 'mdl-textfield__input' 'min' '0' 'style' 'text-align:right'%}
                            <small style="margin-top: 3px; margin-left: 3px; color: #666;" title="pence per kilowatt hour">p/kWh</small>
                        </div>
                        <span class="mdl-textfield__error">{{ form.cost.errors }}</span>
                    </div>
                    </div>
                {% else %}
                    <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"  style="padding-top: 0">
                        <label class="device-label">
                            {{ reading.channel.name }}
                        </label>
                        <div>
                            {% if 'value' in reading %}
                                {{ reading.value|floatformat }}{{ reading.channel.units }}
                            {% else %}
                                No data
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <input type="submit" name="add_hub" value="Update Sensor" class="submit submitButton mdl-button mdl-js-button button_right mdl-button--raised mdl-button--colored" id="submit-id-add_hub">
        </form>
    </div>
</div>
{% endblock content %}