{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<form class="uniForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="div_id_photo" class="">
        <label id="label_id_photo" class="mdl-typography--title deployment-header mdl-color--blue-900"
                {% if form.photo.value %}
               style="background-image: url('{{MEDIA_URL}}{{ form.photo.value }}')"
                {% endif %}
               for="id_photo">
            <i class="material-icons">file_upload</i>
            Header Image
        </label>

        <div style="display: none">
            {% crispy_field form.photo 'accept' 'image/*' %}
        </div>

        <script>
			var input = document.getElementById('id_photo');
			input.onchange = function () {
				var label = document.getElementById('label_id_photo');
				if(this.files.length > 0) {
					label.innerHTML = 'Header Image: ' + this.files[0].name;
				}
				else {
					label.innerHTML = 'Header Image';
				}
			};
        </script>
    </div>
    {% if form_show_errors %}
        {% for error in field.errors %}
            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="errorField">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    {{ form.non_field_errors }}

    <div id="div_id_client_name" class="">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="id_client_name" class="mdl-textfield__label requiredField">
                Client name
            </label>
            {% crispy_field form.client_name 'class' 'mdl-textfield__input' %}
        </div>
    </div>

    {% if not deployment %}
        <div id="div_id_hub" class="">
            <div style="padding-top: 8px" class="mdl-textfield mdl-js-textfield">
                <label class="mdl-typography--caption mdl-color-text--primary requiredField" for="id_hub">
                    Hub
                </label>
                <label class="mdl-textfield__label"></label>
                <div><i class="material-icons" style="position: absolute; right: 0; z-index: -10;">arrow_drop_down</i>
                    {% crispy_field form.hub 'class' 'mdl-textfield__input' 'style' '-webkit-appearance: none; -moz-appearance: none; appearance: none; padding-right: 24px; border-radius: 0' %}
                </div>
            </div>
        </div>
    {% endif %}

    <div id="div_id_address_line_one" class="">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="id_address_line_one" class="mdl-textfield__label requiredField">
                First Line of Address
            </label>
            {% crispy_field form.address_line_one 'class' 'mdl-textfield__input' %}
        </div>
    </div>

    <div id="div_id_post_code" class="">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="id_post_code" class="mdl-textfield__label requiredField">
                Post code
            </label>
            {% crispy_field form.post_code 'class' 'mdl-textfield__input' %}
        </div>
    </div>

    <div style="display: flex">
        <div id="div_id_building_length" style="flex:1">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_building_length" class="mdl-textfield__label requiredField">
                    Building length
                </label>
                <div style="display: flex">
                    {% crispy_field form.building_length 'class' 'mdl-textfield__input' 'min' '0' 'style' 'text-align:right'%}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;">m</div>
                </div>
            </div>
        </div>
        <div style="width: 16px">&nbsp</div>
        <div id="div_id_building_width" style="flex:1">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_building_width" class="mdl-textfield__label requiredField">
                    Building width
                </label>
                <div style="display: flex">
                    {% crispy_field form.building_width 'class' 'mdl-textfield__input' 'min' '0' 'style' 'text-align:right'%}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;">m</div>
                </div>
            </div>
        </div>
        <div style="width: 16px">&nbsp</div>
        <div id="div_id_building_height" style="flex:1">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_building_height" class="mdl-textfield__label requiredField">
                    Building height
                </label>
                <div style="display: flex">
                    {% crispy_field form.building_height 'class' 'mdl-textfield__input' 'min' '0' 'style' 'text-align:right'%}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;">m</div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex">
        <div id="div_id_boiler_manufacturer" style="flex:1">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_boiler_manufacturer" class="mdl-textfield__label ">
                    Boiler manufacturer
                </label>
                <datalist id="boilers">
                    <option value="Worcester">
                    <option value="Vaillant">
                    <option value="Vokera">
                    <option value="Baxi">
                    <option value="Biasi">
                    <option value="Ideal">
                    <option value="Firebird">
                    <option value="Alpha">
                </datalist>
                <input class="textinput textInput mdl-textfield__input" id="id_boiler_manufacturer" maxlength="255" name="boiler_manufacturer" list="boilers" type="text" value="{{ deployment.boiler_manufacturer }}">
            </div>
        </div>
        <div style="width: 64px">&nbsp</div>
        <div id="div_id_boiler_model" style="flex:1">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_boiler_model" class="mdl-textfield__label ">
                    Boiler model
                </label>
                {% crispy_field form.boiler_model 'class' 'mdl-textfield__input' %}
            </div>
        </div>
    </div>
    <div style="display: flex">
        <div id="div_id_boiler_output" style="flex:1">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_boiler_output" class="mdl-textfield__label ">
                    Boiler output
                </label>
                <div style="display: flex">
                    {% crispy_field form.boiler_output 'class' 'mdl-textfield__input' 'style' 'text-align:right' %}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;" title="kilowatt">kW</div>
                </div>
            </div>
        </div>
        <div style="width: 64px">&nbsp</div>
        <div id="div_id_boiler_efficiency" style="flex:1">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="id_boiler_efficiency" class="mdl-textfield__label ">
                    Boiler efficiency
                </label>
                <div style="display: flex">
                    {% crispy_field form.boiler_efficiency 'class' 'mdl-textfield__input' 'style' 'text-align:right' %}
                    <div style="margin-top: 3px; margin-left: 3px; color: #666;">%</div>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="{{ button }}" class="submit submitButton mdl-button mdl-js-button button_right mdl-button--raised mdl-button--colored" id="submit-id-add_hub">
</form>

