{% extends 'chariot/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Deployment{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet">
	    <form class="uniForm" method="post" enctype="multipart/form-data">

		    {% include "deployments/deployment_fields.html" with deployment=deployment %}

		    <input type="submit" value="Create" class="submit submitButton mdl-button mdl-js-button button_right mdl-button--raised mdl-button--colored" id="submit-id-add_hub">
	    </form>
    </div>
</div>
{% endblock content %}
